# Node
node_modules

# Environment
.env

# Firebase service account keys
firebase-key.json
firebase-key.json.json

# Prisma generated client
/generated

# Flutter
**/build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages